<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaulthref="/tabs/(quotes:quotes)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ quote?.quote }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="">


  <ion-card *ngIf="quote"  class="quote-card">
    <ion-card-header>Quote {{ quote.quote_id }}: {{ quote.quote }}</ion-card-header>
    <ion-card-content>
    </ion-card-content>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="laptop" slot="start"></ion-icon>
      Author: {{ quote.author }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="clipboard" slot="start"></ion-icon>
      Serie: {{ quote.series }}
    </ion-item>



  </ion-card>

</ion-content>
