<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaulthref="/tabs/(episodes:episodes)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ episode?.id }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="episode">
    <ion-card-content>
      <ion-icon name="people-sharp"></ion-icon>
      Name : {{ episode.id  }}
    </ion-card-content>
   
  </ion-card>

</ion-content>
